@media (min-width: 320px) {
    .footer {
        height: 130vw;
        background-color: #000;
        padding: 14vw 0 0 0;
    }

    .footer-logo {
        position: relative;
        top: 10%;
        width: 40vw;
        margin: 0 0 8vw 0;
        cursor: pointer;
    }

    .footer-menus {
        list-style: none;
        font-size: 5vw;
        margin-left: -8vw;
    }

    .foot-menu {
        all: unset;
        cursor: pointer;
        color: #FFF;
        font-size: 5vw;
        font-weight: 700;
        text-decoration: none;
        margin: 0 0 7vw 0;
    }

    .social-icon {
        width: 7vw;
        margin: 5vw 3vw 2vw;
        cursor: pointer;
    }

    .rights {
        color: hsl(0, 0%, 55%);
        font-size: 4.5vw;
    }
}

@media (min-width: 1200px) { 
    .footer {
        height: 28vw;
        background-color: hsl(240, 10%, 16%);
        padding: 3vw 0 0 0;
        border-radius: 0 10vw 0 0;
        display: grid;
        grid-auto-rows: 15vw;
        grid-template-columns: repeat(5, 1fr);
    }

    .footer-logo {
        position: relative;
        width: 8vw;
        bottom: 4vw;
        left: 3.5vw;
    }

    .footer-title {
        font-size: 1.5vw;
        color: #FFF;
        margin: 2vw;
    }

    .link {
        text-align: left;
        position: relative;
        font-size: 1.2vw;
        margin: 1vw;
        left: 5.9vw;
    }
}