@media (min-width: 320px) {
    .container {
        margin: 0;
    }
    
    .banner {
        padding: 40vw 0 0 0;
        height: 125vw;
        background-position: 0 0;
        background-size: 100%;
    }

    .square {
        border: solid 1px #FFF;
        position: relative;
        left: 50%;
        top: 15%;
        transform: translate(-50%);
        width: 70vw;
        padding: 0 6vw;
    }

    .immersive {
        text-align: left;
        font-size: 10vw;
        font-weight: 300;
        color: #FFF;
    }
    
    .first-cont {
        display: grid;
        grid-auto-rows: 55vw 115vw;
        grid-template-columns: repeat(auto-fill, 1fr);
        padding: 30vw 0 0 0;
    }

    .first-left {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 89%;
        height: 100%;
    }
    
    .first-left-img {
        width: 100%;
        height: 100%;
    }

    .first-right {
        width: 100%;
        height: 100%;
        margin: 10vw 0;
    }

    .leader-title {
        font-size: 9vw;
        position: relative;
        font-weight: 100;
        width: 80vw;
        left: 50%;
        transform: translate(-50%);
    }

    .leader-text {
        font-size: 4vw;
        font-family: "Alata";
        font-weight: 100;
        position: relative;
        width: 75vw;
        line-height: 7vw;
        color: hsl(0, 0%, 55%);
        left: 50%;
        transform: translate(-50%);
    }

    .creations {
        font-size: 9vw;
        font-weight: 100;
    }

    .second-cont {
        display: grid;
        grid-auto-rows: 55vw;
        grid-template-columns: repeat(auto-fill, 1fr);
        padding: 30vw 0 0 0;
    }

    .gallery1 {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 89%;
        height: 100%;
    }

    .gallery1-img {
        width: 100%;
        height: 100%;
    }

    .second-left {
        width: 100%;
        height: 100%;
    }

    .second-left-img {
        position: absolute;
        width: 100%;
        height: 100vw;
        top: 458vw;
        left: 50%;
        transform: translate(-50%);
    }

    .second-right {
        width: 100%;
        height: 100%;
    }

    .state-title {
        font-size: 9vw;
        position: relative;
        width: 70vw;
        color: #FFF;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 8vw;
    }

    .state-text {
        font-size: 4vw;
        position: relative;
        width: 75vw;
        line-height: 7vw;
        color: #FFF;
        left: 50%;
        transform: translate(-50%);
    }
    
    .footer {
        height: 205vw;
        background-color: hsl(240, 10%, 16%);
        padding: 12vw 0 0 0;
        border-radius: 0 30vw 0 0;
    }

    .footer-logo {
        margin: 5vw;
    }

    .footer-title {
        font-size: 5vw;
        color: #FFF;
        margin: 10vw;
    }

    .footer-left, .footer-center, .footer-right {
        display: grid;
        grid-template-columns: 100%;
    }

    .link {
        display: inline-block;
        margin: 0 auto;
        color: hsl(240, 2%, 79%);
        font-size: 4.5vw;
        font-weight: 100;
        cursor: pointer;
        margin: 1vw;
    }

    .link:hover {
        text-decoration: underline;
    }
}

@media (min-width: 1200px) {
    .container {
        overflow-x: hidden;
    }
    .banner {
        padding: 15vw 0 0 0;
        height: 35vw;
        background-position: 30% 50%;
        background-size: 200vw;
        border-radius: 0 0 0 10vw;
    }
    
    .modern {
        font-size: 5vw;
        margin: 2vw 0;
    }

    .grow {
        font-size: 2vw;
        margin: 0 0 4vw 0;
    }

    .start-btn {
        font-size: 1.3vw;
        padding: 1.3vw;
        margin: 0 1vw;
     }

     .learn-btn {
        font-size: 1.3vw;
        padding: 1.3vw 3vw;
        margin: 0 1vw;
     }

     .designed {
        font-size: 3.5vw;
        margin: 12vw 0 0 0;
     }
    
    .first-cont {
        grid-auto-rows: 40vw;
        grid-template-columns: 50% 50%;
        padding: 20vw 0 0 0;
        transform: scaleX(-1);
    }

    .first-left {
        transform: scaleX(-1);
    }
    
    .first-left-img {
        position: relative;
        left: 8vw;
        top: -12vw;
        width: 120%;
        height: 140%;
    }

    .first-right {
        padding: 0;
        transform: scaleX(-1);
    }

    .extensible-title {
        font-size: 2vw;
        margin-left: .8vw;
    }

    .extensible-text {
        text-align: left;
        font-size: 1.1vw;
        width: 34.6vw;
        line-height: 2vw;
        margin: 0 0 3vw 3.5vw;
    }

    .robust-title {
        font-size: 2vw;
        margin-left: -.5vw;
    }

    .robust-text {
        text-align: left;
        font-size: 1.1vw;
        width: 34.4vw;
        line-height: 2vw;
        margin: 0 0 3vw 3.5vw;
    }

    .second-cont {
        display: grid;
        grid-auto-rows: 33vw;
        grid-template-columns: 50% 50%;
        background-position: -45% 94%, 100% 100%;
        background-size: 65vw, 100vw;
        border-radius: 0 10vw 0 10vw;
        margin-top: 8vw;
    }

    .second-left-img {
        width: 44%;
        height: 48vw;
        top: 112vw;
        left: 24vw;
    }

    .second-right {
        width: 100%;
        height: 100%;
    }

    .state-title {
        font-size: 2.7vw;
        width: 70vw;
        top: 6vw;
        left: 14.8vw;
        margin-bottom: 8vw;
    }

    .state-text {
        text-align: left;
        font-size: 1.3vw;
        width: 42vw;
        line-height: 2.5vw;
        left: 17vw;
    }

    .third-cont {
        display: grid;
        grid-auto-rows: 50vw;
        grid-template-columns: 50% 50%;
        margin-top: 2vw;
        margin-bottom: 20vw;
    }

    .third-left {
        margin: 10vw 0;
        width: 100%;
        height: 100%;
    }
    
    .third-left-img {
        position: relative;
        width: 140%;
        height: 100%;
        right: 20vw;
    }

    .third-right {
        margin: 10vw 0;
        width: 100%;
        height: 100%;
        padding: 5vw 0;
    }

    .free-title {
        font-size: 2.2vw;
        left: 14.7vw;
        margin-top: 5vw;
    }

    .free-text {
        text-align: left;
        font-size: 1.2vw;
        width: 38vw;
        line-height: 2vw;
        left: 50%;
        margin: 0 0 5vw 0;
    }

    .powerful-title {
        font-size: 2.2vw;
        left: 13.8vw;
    }

    .powerful-text {
        text-align: left;
        font-size: 1.2vw;
        width: 38vw;
        line-height: 2vw;
        left: 50%;
    }
    
    .footer {
        height: 28vw;
        background-color: hsl(240, 10%, 16%);
        padding: 3vw 0 0 0;
        border-radius: 0 10vw 0 0;
        display: grid;
        grid-auto-rows: 15vw;
        grid-template-columns: repeat(5, 1fr);
    }

    .footer-logo {
        position: relative;
        width: 8vw;
        bottom: 4vw;
        left: 3.5vw;
    }

    .footer-title {
        font-size: 1.5vw;
        color: #FFF;
        margin: 2vw;
    }

    .link {
        text-align: left;
        position: relative;
        font-size: 1.2vw;
        margin: 1vw;
        left: 5.9vw;
    }
}